<div class="container">
  <div class="form-base">
    <h2>Edit Account Details</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div>
          <%= f.input :email, label: "Username",
              autofocus: true,
              # input_html: { autocomplete: "email" }
              placeholder: "cocktail_lover123"%>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div>
          <%= f.input :password,
          hint: ("#{@minimum_password_length} characters minimum (leave blank if you don't want to change it)" if @minimum_password_length),
          input_html: { autocomplete: "new-password" } %>
        </div>

        <div>
          <%= f.input :password_confirmation,
          input_html: { autocomplete: "new-password" } %>
        </div>

        <div>
          <%= f.input :current_password,
          hint: "(we need your current password to confirm your changes)",
          input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-button">
          <%= f.button :submit, "Update", class: "btn-base btn-main form-button" %>
        </div>
      </div>
    <% end %>

    <!-- Delete Account -->
    <p>Unhappy?
    <%= link_to "Cancel my account...", registration_path(resource_name), data: { confirm: "Are you sure you want delete your account?" }, method: :delete %></p>

    <%= link_to "Back", :back, class: "btn-base btn-ghost" %>
  </div>
</div>
