<p>It's your cocktail, so you can add ingredients</p>
<div class="add-ingredient">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <div class="form-inputs">
      <%= f.input :ingredient %>
      <%= f.input :amount %>
      <%= f.input :unit, collection: %w[cl ml l pieces tsp tbs leaves fill slices none dashes bottles] %>
      <%= f.input :description %>

      <div class="form-button">
        <%= f.button :submit, "Add ingredient", class: "btn-base btn-main form-button" %>
      </div>
    </div>
  <% end %>
</div>
