<div class="container">
  <div class="card-detail">
    <h1><%= @cocktail.name.titleize %></h1>

    <div class="card-detail-body">
      <div class="card-detail-photo">
        <%= cl_image_tag @cocktail.photos.first.key %>
      </div>

      <div class="card-detail-info">
        <% if @cocktail.user.avatar.attached? %>
          <%= cl_image_tag @cocktail.user.avatar.key, class: "avatar avatar-large avatar-round dropdown-toggle" %>
        <% end %>
        <h3>Ingredients</h3>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li>
              <p><strong><%= dose.ingredient.name %>:</strong> <%= dose.amount %> <%= dose.unit %> <%= dose.description %></p>
            </li>
          <% end %>
        </ul>

        <!-- let user add new doses if cocktail belongs to user -->

        <%= render 'form_dose' if current_user == @cocktail.user %>

      </div>
    </div>
  </div>
</div>
