<div class="container">
  <div class="card-detail">
    <h1> <%= @cocktail.name.titleize %> </h1>
    <h3>
      <%= link_to like_unlike_cocktail_path(@cocktail), id: @cocktail.id, remote: true do %>
        <% if current_user && current_user.favorites.any? { |favorite| favorite.cocktail == @cocktail } %>
          <i class="fas fa-heart favorited"></i>
          <i class="far fa-heart favorited d-none"></i>
        <% else %>
          <i class="fas fa-heart favorited d-none"></i>
          <i class="far fa-heart favorited"></i>
        <% end %>
      <% end %>
    </h3>

    <div class="card-detail-body">
      <div class="card-detail-photo">
        <div class="card-detail-header-section">
          <% if @cocktail.photos.attached? %>
            <%= cl_image_tag @cocktail.photos.first.key %>
          <% else %>
            <%= image_tag("https://cdn.pixabay.com/photo/2018/03/22/02/37/background-3249063_960_720.png") %>
          <% end %>
        </div>
      </div>

      <div class="card-detail-info">
        <% if @cocktail.user && @cocktail.user.avatar.attached? %>
          <%= cl_image_tag @cocktail.user.avatar.key, class: "avatar avatar-large avatar-round  dropdown-toggle" %>
        <% end %>
        <h3>Ingredients</h3>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li>
              <p><strong><%= dose.ingredient.name %></strong>
                <%= dose.amount if dose.amount.to_i > 0 %>
                <%= dose.unit if dose.unit != "none" %>
                <% unless dose.description.nil? || dose.description.empty? %>
                  (<%= dose.description %>)
                <% end %>

                <!-- let owner of cocktail destroy doses -->
                <% if current_user == @cocktail.user %>
                  <%= link_to dose_path(dose), data: { confirm: "Are you sure you want that ingredient?" }, method: :delete do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %></p>
                <% end %>
            </li>
          <% end %>
        </ul>

        <!-- let user add new doses if cocktail belongs to user -->

        <% if current_user == @cocktail.user %>
          <p>It's your cocktail, so you can add ingredients</p>
          <div class="add-ingredient">
            <%= simple_form_for [@cocktail, @dose] do |f| %>
              <div class="form-inputs">
                <%= f.input :ingredient %>
                <%= f.input :amount %>
                <%= f.input :unit, collection: %w[cl ml l pieces tsp tbs leaves fill slices none dashes bottles] %>
                <%= f.input :description %>

                <div class="form-button">
                  <%= f.button :submit, "Add ingredient", class: "btn-base btn-main form-button" %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <!-- let the owner of the cocktail delete the cocktail -->
        <% if current_user == @cocktail.user %>
          <%= link_to cocktail_path(@cocktail), data: { confirm: "Are you sure you want your #{@cocktail.name.titleize}?" }, method: :delete do %>
            Delete the cocktail...</i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
